@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;

}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color:#787777 #1e1e1e;
}
body{
  color:white;
  background-color:black;
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: removes space */
}

/* Fix typo in pseudo-element name */
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
